/* globals.css */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 100px; /* height of your sticky navbar */
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #0f172a; /* dark background */
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input, textarea {
  border: none;
  outline: none;
}

.section {
  min-height: calc(100vh - 80px);         
  background-color: #121212;
  color: white;
  box-sizing: border-box;
  padding: 10px;

}

.section:nth-child(even) {
  background-color: #181818;    /* Subtle alternating color */
}

.section-title {
  font-size: 2.5rem;
  padding-left: 40px;
  margin-bottom: 20px;

  color: #1e90ff;
}


.section-description {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 768px) {
  .section {
    padding: 60px 20px;
  }

  .section-title {
    font-size: 2rem;
    padding-left: 20px; /* less space on mobile */
    text-align: center;
  }

  .section-description {
    font-size: 1rem;
  }
}
